:root {
    --color-primary: #222831;
    --color-secondary: #393E46;
    --color-text: #DFD0B8;
    --color-buttons: #948979;
    --color-buttons-hover: #7a6b54;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    background-color: var(--color-primary);
    color: var(--color-text);
}

main {
    display: flex;
    flex-direction: row;
}

.sidebar {
    background-color: var(--color-secondary);
    min-height: 100vh;
    min-width: 27vw;
}

h1 {
    text-align: center;
    font-size: 50px;
}

hr {
    border: 2px solid var(--color-primary);
    margin: 20px 0;
}

.add-task-container {
    display: flex;
    justify-content: center;
}

input {
    padding: 5px;
    border: 1px solid var(--color-primary);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: none;
    width: 60%;
    height: 1.5rem;
    background-color: var(--color-primary);
    color: white;
}

input:focus {
    outline: none;
    border: 2px solid var(--color-buttons);
}

button {
    padding: 5px;
    border: 1px solid var(--color-buttons);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: none;
    background-color: var(--color-buttons);
}

button:hover {
    cursor: pointer;
    background-color: var(--color-buttons-hover);
}

.tasks-list ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.task-item {
    width: 100%;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.task-item:has(.active) {
    background-color: #444952;
}

.task-item a {
    text-decoration: none;
    font-size: 20px;
    color: var(--color-text);
}

.task {
    width: 100vw;
    height: 100vh;
}

.task h2 {
    padding-left: 100px;
}